<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <ul class="topnav">
        <li>
            <a class="navbar-brand" href="#">
            <img
              src="https://am3pap002files.storage.live.com/y4m8beMvoVqJF3hegb5YjfmN3krHwy3qWm-z-iwvevi4UejLkgJoIcRWP3QuqXYSP5TOLuRrhcugc4KzVIqxcpWpng7Gt3V1iCYxfM0wA-G0ON-MQv6MM1ys4OWjCNgwaOU2xsjxWaVSbCyKNCZxis7eo58cW6w-nMEh533ibhmPyx4kteftI3XhoAyK6yxKCy4?width=3508&height=1408&cropmode=none"
              width="250"
              alt="logo"
              loading="lazy"
            />
          </a>
        </li>
        <li class="right"><a href="#news">News</a></li>
        <li class="right"><a href="#contact">Contact</a></li>
        <li class="right"><a href="#about">About</a></li>
      </ul>
    </div>
  </nav>

 <!-- <img  width="3508" height="2480" />

<img src="https://am3pap002files.storage.live.com/y4m8beMvoVqJF3hegb5YjfmN3krHwy3qWm-z-iwvevi4UejLkgJoIcRWP3QuqXYSP5TOLuRrhcugc4KzVIqxcpWpng7Gt3V1iCYxfM0wA-G0ON-MQv6MM1ys4OWjCNgwaOU2xsjxWaVSbCyKNCZxis7eo58cW6w-nMEh533ibhmPyx4kteftI3XhoAyK6yxKCy4?width=3508&height=1408&cropmode=none" width="3508" height="1408" />
-->